/* body {
	background: blue;
	color: yellow;
	width:100%;
}
.button {
  width:100%;
  hight:auto
  font: bold 20px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
} */
body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 15px
}

.input-number {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 20px; /* Adjust the font size as needed */
  width: 100px;
}

.input-head {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 20px; /* Adjust the font size as needed */
}

.control-section {
  margin: 1px;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
}

.button {
  display: inline-block;
  padding: 5px 5px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.button:hover {
  background-color: #0056b3;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: auto;
  max-width: 100%;
}