<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charger Control</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <center>
    <header>
        <h1>Charger Control</h1>
    </header>

    <section class="control-section">
        <h3>Auto</h3>
        {% if auto == 1 %}
            <h2> ON </h2>
            <a href="/auto/off" class="button">TURN OFF</a>
        {% else %}
            <h2> OFF </h2>
            <a href="/auto/on" class="button">TURN ON</a>
        {% endif %}

        <form action="/set_value" method="post">
            <h3>KWH per Week</h3>
            <input type="number" id="kwh_per_week" name="kwh_per_week" value="{{ kwh_per_week }}">
            <button type="submit" class="button">Submit</button>
        </form>

        <form action="/set_value" method="post">
            <h3>Current option</h3>
            <select name="fas_value" id="fas_value">
                <option value=3 {% if fas_value == 3 %}selected{% endif %}>FAS 3</option>
                <option value=1 {% if fas_value == 1 %}selected{% endif %}>FAS 1</option>
            </select>    
            <button type="submit" class="button">Submit</button>
        </form>
    </section>

    <section class="control-section">
        <h3>Fast Smart Charge</h3>
        {% if fast_smart == 1 %}
            <h2> ON </h2>
            <a href="/fast_smart/off" class="button">TURN OFF</a>
        {% else %}
            <h2> OFF </h2>
            <a href="/fast_smart/on" class="button">TURN ON</a>
        {% endif %}

        <form action="/set_value" method="post">
            <label for="hours">Hours needed:</label>
            <input type="text" id="hours" name="hours" value="{{ hours }}">
            <button type="submit" class="button">Submit</button>
        </form>

        <p>Charged within: {{ '%02d' % set_time if set_time is defined else '00' }}:00 h</p> 
        <form action="/set_time" method="post">
            <label for="set_time">Change time:</label>
            <select id="set_time" name="set_time">
                {% for i in range(24) %}
                    <option value="{{ '%02d' % i }}:00" {% if i == set_time %}selected{% endif %}>{{ '%02d' % i }}:00</option>
                {% endfor %}
            </select>
            <button type="submit" class="button">Set Time</button>
        </form>
    </section>

    <section class="control-section">
        <h3>Now</h3>
        {% if on == 1 %}
            <h2> ON </h2>
            <a href="/now/off" class="button">TURN OFF</a>
        {% else %}
            <h2> OFF </h2>
            <a href="/now/on" class="button">TURN ON</a>
        {% endif %}
    </section>
    <img src="{{ url_for('static', filename='image.png') }}" alt="Description of image">
    <img src="{{ url_for('static', filename='plot_nordpool.png') }}" alt="Description of image">
    </center>
</body>
</html>
