<!-- <!DOCTYPE html>
	<center>
	<head>
		<title>Charger</title>
		<link rel="stylesheet" href="../static/style.css"
	</head>
	<body>
		<h1>Charger</h1>
		<h2> Satus and Control </h2>
		<h3> Auto  ==> {{ auto }} ==>
			 {% if auto == 1 %} 
			<a href="/auto/off" class="button">TURN OFF</a>
			{% else %}
			<a href="/auto/on" class="button">TURN ON</a>
			{% endif %}	
		</h3>
	
		<h3> Fast Smart  ==> {{ fast_smart }} ==>
                         {% if fast_smart == 1 %}
                        <a href="/fast_smart/off" class="button">TURN OFF</a>
                       {% else %}
                        <a href="/fast_smart/on" class="button">TURN ON</a>
                        {% endif %}
                </h3>

		<form action="/set_value" method="post">
            		<label for="hours">Hours:</label>
           		<input type="text" id="hours" name="hours" value={{hours}}>
            		<input type="submit" value="Submit">
       		</form>

                <h3> Now  ==> {{ on  }} ==>
                         {% if on  == 1 %}
                        <a href="/now/off" class="button">TURN OFF</a>
                        {% else %}
                        <a href="/now/on" class="button">TURN ON</a>
                        {% endif %}
                </h3>
	</body>	
	</center>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charger Control</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<center>
    <header>
        <h1>Charger Control</h1>
        <h2>Status and Control</h2>
    </header>

    <section class="control-section">
        <h3>Auto</h3>
        {% if auto == 1 %}
            <h2> ON </h2>
            <a href="/auto/off" class="button">TURN OFF</a>
        {% else %}
        <h2> OFF </h2>
            <a href="/auto/on" class="button">TURN ON</a>
        {% endif %}
    </section>

    <section class="control-section">
        <h3>Fast Smart Charge within 12 hours</h3>
        {% if fast_smart == 1 %}
            <h2> ON </h2>
            <a href="/fast_smart/off" class="button">TURN OFF</a>
        {% else %}
        <h2> OFF </h2>
            <a href="/fast_smart/on" class="button">TURN ON</a>
        {% endif %}

        <form action="/set_value" method="post">
            <label for="hours">Hours needed:</label>
            <input type="text" id="hours" name="hours" value="{{ hours }}">
            <button type="submit" class="button">Submit</button>
        </form>
    </section>

    <section class="control-section">
        <h3>Now</h3>
        {% if on == 1 %}
            <h2> ON </h2>
            <a href="/now/off" class="button">TURN OFF</a>
        {% else %}
        <h2> OFF </h2>
            <a href="/now/on" class="button">TURN ON</a>
        {% endif %}
    </section>
	</center>
</body>
</html>

