<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charger Control</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <center>
    <header>
        <h1>Charger Control</h1>
        <h2>Charge status: {{ status }},  Charge power {{charging_power}} W,  Accumulated energy {{energy}} kWh
            SOC: {{charge_status}} %
        </h2>
        <h2>    
            Max power: 
            <input type="number" id="max_power" name="max_power" value="{{max_power}}" class="input-number">
            <button type="submit" class="button">Set Max Power</button>

        </h2>

    </header>

    <section class="control-section">
        <h3>Auto</h3>
        {% if auto == 1 %}
            <h2> ON </h2>
            <a href="/auto/off" class="button">TURN OFF</a>
        {% else %}
            <h2> OFF </h2>
            <a href="/auto/on" class="button">TURN ON</a>
        {% endif %}

        <form action="/set_value" method="post">
            <h3>KWH per Week</h3>
            <input type="number" id="kwh_per_week" name="kwh_per_week" value="{{ kwh_per_week }}" class="input-number">
            <button type="submit" class="button">Submit</button>
        </form>

        <!-- <form action="/set_value" method="post">
            <h3>Current option</h3>
            <select name="fas_value" id="fas_value", class="input-number">
                <option value=3 {% if fas_value == 3 %}selected{% endif %}>FAS 3</option>
                <option value=1 {% if fas_value == 1 %}selected{% endif %}>FAS 1</option>
            </select>    
            <button type="submit" class="button">Submit</button>
        </form> -->
    </section>

    <section class="control-section">
        <h3>Fast Smart Charge</h3>
        {% if fast_smart == 1 %}
            <h2> ON </h2>
            <a href="/fast_smart/off" class="button">TURN OFF</a>
        {% else %}
            <h2> OFF </h2>
            <a href="/fast_smart/on" class="button">TURN ON</a>
        {% endif %}

        <form action="/set_value" method="post">
            <label for="hours" class="input-head">Hours needed:</label>
            <input type="text" id="hours" name="hours" value="{{ hours }}" class="input-number">
            <button type="submit" class="button">Submit</button>
        </form>

        <p>Charged within: {{ '%02d' % set_time|int }}:00 h</p> 
        <form action="/set_value" method="post">
            <label for="set_time" class="input-head">Change time:</label>
            
            <select id="set_time" name="set_time" class="input-number">
                {% for i in range(24) %}
                    <option value="{{ '%02d' % i }}:00" {% if i == set_time|int %}selected{% endif %}>
                        {{ '%02d' % i }}:00
                    </option>
                {% endfor %}
            </select>
            
            <button type="submit" class="button">Set Time</button>
        </form>
    </section>

    <section class="control-section">
        <h3>Charge Now</h3>
        {% if manual == 1 %}
            <h2> ON </h2>
            <a href="/manual/off" class="button">TURN OFF</a>
        {% else %}
            <h2> OFF </h2>
            <a href="/manual/on" class="button">TURN ON</a>
        {% endif %}
    </section>
    <div class="image-container">
        <img src="/plot.png" alt="Power Month List Plot">
    </div>
    </center>
</body>
</html>
